.jumbotron {
	padding: 0;
}

#add_to_slack {
	height: 40px;
	width: 139px;
}

#little_callie {
	position: absolute;
	height: 90px;
	width: auto;
	margin-left: 20px;
	top: 70px;
}

hr {
    width: 60%;
    border: 2px solid rgb(51, 51, 51);
}

.white {
	color: aliceblue;
}

.extra-fun {
	color: cyan;
}

.extra-fun:hover {
	color: magenta;
}

.hero {
	padding-top: 100px;
	padding-bottom: 40px;
	width: 100%;
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(240,181,93,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(100%, rgba(240,181,93,1)));
	background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(240,181,93,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(240,181,93,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(240,181,93,1) 100%);
	background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(240,181,93,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f0b55d', GradientType=1 );
}

.night {
	width: 100%;
	padding-top: 100px;
	min-height: 500px;
	background: rgba(0,13,255,1);
	background: -moz-linear-gradient(45deg, rgba(0,13,255,1) 0%, rgba(186,0,140,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,13,255,1)), color-stop(100%, rgba(186,0,140,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,13,255,1) 0%, rgba(186,0,140,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,13,255,1) 0%, rgba(186,0,140,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,13,255,1) 0%, rgba(186,0,140,1) 100%);
	background: linear-gradient(45deg, rgba(0,13,255,1) 0%, rgba(186,0,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000dff', endColorstr='#ba008c', GradientType=1 );
}

.hero img {
	width: 100%;
	margin-bottom: 40px;
}

.small-text-box {
    border: 2px solid aliceblue;
    padding: 50px;
}

.night li {
	list-style: none;
}

.night ul {
	padding-top: 50px;
}

.half-icon span {
	float: left;
	font-size: 20px;
}

.night a {
	color: aliceblue;
}

.hero h1 {
	margin-bottom: 0 auto;
}

.night li {
	float: left;
}

.push-down {
	margin-bottom: 40px;
}

.full-glyph {
	font-size: 40px;
}
 .breakdown-panel > p {
 	min-height: 100px;
 	display: flex;
 }

.row.examples  div {
	display: inline-block;
    float: none;
}

@media screen and (max-width: 1300px) {
    #little_callie {
        right: 0;
        top: 0;
        float: right;
        position: relative;
    }
}
